<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <HelloWorld />

      <v-container class="grey lighten-5">
        <v-row>
          <v-col sm="4">
            <v-card>
              <padre></padre>
            </v-card>
          </v-col>
          <v-col sm="4">
            <v-card>
              <carrito></carrito>
            </v-card>
          </v-col>
        </v-row>
      </v-container>

      
    </v-main>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";
import Padre from "./components/Padre.vue";
import Carrito from "./components/Carrito.vue";

export default {
  name: "App",

  components: {
    HelloWorld,
    Padre,
    Carrito,
  },

  data: () => ({
    //
  }),
};
</script>
