<template>
  <div class="hello">
    <h1>Retira o ingresa dinero</h1>

    <h3>Dinero actual</h3>

    <div id="dinero">
      {{ cantidad }} $
    </div>

    <div v-show="mostrar" id="numRojos">
        <b>ESTÁS EN NÚMEROS ROJOS</b>
    </div>

    <div id="ingresos">
      <h3>Ingresos</h3>
      <input type="number" id="ingreso" v-model="ingreso" min="0"> <button id="ingresar" v-on:click="ingresarCantidad">Ingresar</button>
    </div>

    <div id="retiradas">
      <h3>Retiradas</h3>
      <input type="number" id="retirada" v-model="retirada" min="0"> <button id="retirar" v-on:click="retirarCantidad">Retirar</button>
    </div>
  </div>
</template>