<template>
  <v-card class="mx-auto px-5" color="warning" dark max-width="400">
    <h1>Carrito</h1>

    <div>
      <tr>
        <td>Se han agreado {{items.length}} elementos</td>
      </tr>
      <tr>
        <td>
          <v-text-field v-model="newItem"/>
        </td>
        <td>
          <v-btn @click="add" color="success">Agregar</v-btn>
        </td>
      </tr>
    </div>

    <div>
      <ul v-for="item in items" v-bind:key="item">
        <li>{{item}}</li>
      </ul>
    </div>

  </v-card>
</template>

<script>

  export default {
    data: function(){
      return{
        newItem: '',
        items: [],
      }
    },
    methods:{
      add(){
        if (this.newItem.trim().length < 1) return;
        this.items.push(this.newItem);
        this.newItem = '';
      },
    },
  }
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
