<template>
  <v-card class="mx-auto pl-5" color="#26c6da" dark max-width="400">
    <h2>Componente hijo</h2>
    <p>Mensaje desde el padre:</p>
    <p>{{mensaje}}</p>

    <p>Mensaje para el padre:</p>
    <v-text-field @change="enviarMsg" v-model="mensajeHijo"></v-text-field>
  </v-card>
</template>

<script>
  export default {
    name:"Hijo",
    props:{
      mensaje: String
    },
    data: function(){
      return{
        mensajeHijo: "",
      }
    },
    methods:{
      enviarMsg(){
        
        this.$emit("enviarMensajeHijo",this.mensajeHijo);
      }
    }

  }
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
