<template>
  <v-card class="mx-auto px-5" color="primary" dark max-width="400">
    <h1>Componente padre</h1>

    <p>Mensaje para el hijo:</p>
    <v-text-field v-model="mensajePadre" ></v-text-field>

    <hijo v-bind:mensaje="mensajePadre" v-on:enviarMensajeHijo="elMensaje"></hijo> <!-- :mensaje="" @enviarMensajeHijo="" -->

    <p>Mensaje desde el hijo:</p>
    <p>{{ mensajeHijo }}</p>

  </v-card>
</template>

<script>
import Hijo from './Hijo.vue'

  export default {
    components: {
      Hijo,
    },
    data: function(){
      return{
        mensajePadre: "",
        mensajeHijo: ""
      }
    },
    methods:{
      elMensaje(msgHijo){

        this.mensajeHijo = msgHijo;
      }
    }
  }
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
