<template>
  <div class="hello">

    <v-app-bar class="mx-auto" max-width="500" color="primary" dark>
      <v-toolbar-title>Retira o ingresa dinero</v-toolbar-title>
    </v-app-bar>
    
    
    <v-card class="mx-auto" max-width="500" outlined>
    <v-list-item>
      <v-list-item-content>
        <div class="overline mb-4">
          <h1>Dinero actual</h1>
        </div>
        <v-list-item-title class="headline mb-1">
            <div>
              {{ cantidad }} $
            </div>
            <div v-show="mostrar" id="numRojos">
              <b>ESTÁS EN NÚMEROS ROJOS</b>
            </div>
        </v-list-item-title>

        <v-list-item-title class="headline mb-1">
          <div>
            <h3>Ingresos</h3>
            <v-text-field v-model.number="ingreso" min="0" solo></v-text-field>
            <v-card-actions>
              <v-btn outlined rounded v-on:click="ingresarCantidad" >
                Ingresar
              </v-btn>
            </v-card-actions>
          </div>
        </v-list-item-title>

        <v-list-item-title class="headline mb-1">
          <div>
            <h3>Retiradas</h3>
            <v-text-field v-model.number="retirada" min="0" solo></v-text-field>
            <v-card-actions>
              <v-btn outlined rounded v-on:click="retirarCantidad" >
                Retirar
              </v-btn>
            </v-card-actions>
          </div>
        </v-list-item-title>
      </v-list-item-content>

    </v-list-item>

  </v-card>
    
  </div>

</template>

<script>
  export default {
    name: 'MiBanco',
    props: {
      msg: String
    },
    data: function() {
      return {
        cantidad: 0,
        ingreso: 0,
        retirada: 0,
        mostrar: false
      }
    },
    methods: {
      ingresarCantidad() {

        if(this.ingreso < 0){
          alert("Introduce un valor válido.");
        }else{
          this.cantidad = this.cantidad + this.ingreso;
        }

        if(this.cantidad >= 0){
          this.mostrar = false;
        }

      },
      retirarCantidad() {

        if(this.retirada < 0){
          alert("Introduce un valor válido.");
        }else{
          this.cantidad = this.cantidad - this.retirada;
        }

        if(this.cantidad < 0){
          this.mostrar = true;
        }

      }
    }
  } 

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#numRojos{
  color: rgb(252, 115, 115);
  font-size: 15px;
}
</style>
